td {
    /* sets square size */
    border: 2px solid black;
    height: 120px;
    width: 120px;
    text-align: center;
    font-size: 2rem;
}
table {
    /* sets container size */
    height: 360px;
    width: 360px;
}
